.load-gif {
	width: 200px;
	height: 123px;
}

.swal2-modal .styled {
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	color:  white;
	cursor: pointer;
	font-size: 12px !important;
	font-weight: 500;
	margin: 0 5px;
	padding: 10px 32px;
	background-color: #0daea6 !important;
	border-radius: 4px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.swal2-confirm {
	font-size: 12px !important;
	font-weight: 500;
	margin: 0 5px;
	padding: 10px 32px;
	background-color: #0daea6 !important;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.swal2-cancel {
	font-size: 12px !important;
	font-weight: 500;
	margin: 0 5px;
	padding: 10px 32px;
	background-color: #c75f5f !important;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}