@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../../../images/ajax-loader.gif') center no-repeat #fff;
}

#main {
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ui-dialog-titlebar {
  background-color: transparent !important;
  color: black;
  padding: 5px 5px !important;
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.bootstrap-select>.dropdown-toggle {
  height: 24px !important;
  padding-top: 1px;
  padding-bottom: 1px;
}  

.tweb_get {
  padding: 0px 12px 0px 6px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}  

.tweb_get:focus {
  outline: none !important;
  border: 1.5px solid rgb(36, 57, 241) !important;
  background: rgb(207, 220, 230) !important;
  color: black !important;
}  

.tweb_bar {
  padding-left: 3px !important;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px ; 
  background: #6C96B6 !important;
  border: 1px solid #6C96B6 !important;
  /*background: rgb(193, 240, 240) !important;
  border: 1px solid rgb(193, 240, 240) !important;*/
}

.tweb_bar_separator_init {
  display: none;
}

.tweb_btnbar {
  background-color: white !important;
  border: 1px outset white !important;
  transition-duration: 0.4s;
  border-radius: 4px;
  margin-left: 3px !important;
  margin-right: 3px  !important;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 
 
.tweb_btnbar:hover:enabled  {  
  background-color: #1086e0 !important;
  color: white; 
}

.slick-row.totals .slick-cell {
  text-align: right;
}

/* Filter-option boostrap select */
.filter-option {
  font-size: 12.5px;
}

/* Slick Grid Footers Totals */
.slick-row.totals .slick-cell {
  background: #eee;
  text-align: left;
}
