.total-spacer-row {
    visibility: hidden;
}

.slick-viewport.totals-viewport {
    position: relative;
    overflow: hidden;

}

.slick-viewport .slick-row.totals {
    position: relative;
    font-weight: bold;
    color: black;
    font-style: italic;	
}