/*
*  Styles common to all aplication.php
*/

body {
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 500;
    font-size: 13px;
    color: black;
    background-color: #fff;
}

