html, body {
	width: 100%;
	height: 100%;
	margin: 0; 
}

	.tweb_screen {

	  width: 100%;
	  height: 100%;
	  background-size: cover;  
	}
	
	/*	Preloader inicial...	*/
	
		#preloader {
			position: fixed;
			top:0; left:0;
			right:0; bottom:0;
			background: #000;
			z-index: 100;
		}
		#loader {
			width: 100px;
			height: 100px;
			position: absolute;
			left:50%; top:50%;
			background: url(images/preloader.gif) no-repeat center 0;
			margin:-50px 0 0 -50px;
		}		
	
	/*	Control TPANEL */
	
		.tweb_window {
			background-color: transparent;
			box-sizing: border-box;	
		}

		.tweb_panel_dlg_off {
			display: none;
		}	


	/*	Control TPANEL */
	
		.tweb_panel {
			background-color: transparent;
			box-sizing: border-box;	
		}
	
	/*	Control  TSAY */
		
		.tweb_say {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;	
			overflow: hidden;		
			box-sizing: border-box;				
		}						
		
		.tweb_say_memo {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;	
			margin: 0px;
			padding: 0px 8px 0px 8px;
			box-sizing: border-box;
			overflow: hidden;		
		}	
		
	/*	Control  TMSGITEM */	
	
		.tweb_msgitem p {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;		
			margin: 0px;
			margin-top: 3px;
			padding-left: 4px;			
		}
		
		.tweb_msgitem img {			
			float: left;
			margin-left: 4px;
			margin-right: 4px;
			margin-top: 3px;
			width:16px;
		}
		
	/*	Control  TGET */
	
		.tweb_get_container {
			border:none; 
			border-radius: 4px;		
		}
	
		.tweb_get {
			background-color: white;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			padding: 0px 8px 0px 8px;
			border:1px solid #3A518A; 
			border-radius: 4px;		
			cursor:	pointer;
			box-sizing: border-box;
		}	 

		.tweb_get:focus {
			background-color: beige; /*#FBF5CD;*/
			border-color: #66afe9;
			border-image: none;
			border-style: solid;
			border-width: 1px;	
			cursor: text;
		}

		.tweb_get:disabled  {	
			background-color: #eee;
			cursor: not-allowed;
		}
		
		
		.tweb_get[ readonly ]  {	
			background-color: #eee;
			box-shadow: none;
			cursor: text;
		}
		
		.tweb_get_button {		
			background-color: transparent;	
			border: 1px solid transparent;
			border-radius: 4px;
			cursor:pointer;	
			height: 22px;		
			padding:0px			
		}
		
		.tweb_get_button:hover {	
			border: solid 1px #a4a1a1;
		}
		
		.tweb_get_button:disabled {
			color: white;
			background: gray;
			cursor: text;		
		}
		
		.tweb_get_button img {
			margin-left: 3px;
			margin-right: 3px;
			width:16px;
			height:16px;		
		}		
		
	/*	Control TGET memo */
	
		.tweb_getmemo   {
			background-color: white;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			/*padding: 2px 5px 2px 5px;*/
			border:1px solid #3A518A; 
			border-radius: 4px;		
			cursor:	pointer;
			resize: none;
			margin:0px;
		}	 

		.tweb_getmemo:focus {
			background-color: beige; /*#FBF5CD;*/
			border-color: #66afe9;
			border-image: none;
			border-style: solid;
			border-width: 1px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);		
			cursor: text;
		}

		.tweb_getmemo:disabled  {	
			background-color: #eee;
			cursor: not-allowed;
		}
		
		.tweb_getmemo[ readonly ]  {	
			background-color: #eee;
			box-shadow: none;
			cursor: text;
		}	
	
		
	/*	Control TCOMBOBOX */
	
		.tweb_combobox {
			
		}
		
		.tweb_combobox:disabled {
			cursor: not-allowed !important; ;			
			color: #bdb3b3 !important;
			background-color: gainsboro;			
		}	
		
	/*	Control TCOMBOBOX EXTENDED */
	
		.tweb_combobox_ex {
			/* Definición del pluggin en tweb\libs\multiple-select\ */
		}
		
		.tweb_combobox_ex:disabled {
			color: white;
			background: gray;
			cursor: not-allowed;
			box-shadow: none;		
		}
		
	/*	Control TBUTTON */
	
		/* Facebook Tab Style */  
		
		.tweb_button {
			background: #5870A8; 
			background-image:-webkit-linear-gradient(top, #637BAD, #4F67A4);
			border: 1px solid #1D3871; 
			letter-spacing: 1px; 
			color: #fff; 
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			-moz-box-shadow: 1px 1px 3px #1D3871;
			-webkit-box-shadow: 1px 1px 3px #1D3871;
			box-shadow: 1px 1px 3px #1D3871;
			cursor: pointer;
			border-radius: 4px;				
		}
		
		.tweb_button p {
			margin: 0px;			
		}			

		.tweb_button:hover:enabled {  
			background: #3d3d80;  
			color: yellow; 
		}
		
		.tweb_button:disabled {
			color: #6e6e6e;
			background: #d1d1d1;
			cursor: not-allowed;
			box-shadow: none;
		}
		
		.tweb_button img{
			float:left;
		}
		
		.tweb_button:disabled img{
		
		/*	
			-webkit-filter: grayscale(100%) !important; /* Webkit Nightlies & Google Chrome Canary 
			-webkit-transition: all .6s ease; // Fade to color for Chrome and Safari -->	NOTA: ERROR con menus en Chrome 
			-webkit-backface-visibility: hidden; // Fix for transition flickering -->	NOTA: ERROR con menus en Chrome 
			
		//  Esta nos sirve para el firefox 
		//	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); // Firefox 10+, Firefox on Android 
		//	filter: gray; // IE8-9 *
    */
			cursor: text;	
		}		
		
		
	/*	Control TCHECKBOX */
		
		.tweb_checkbox {	
			margin: 0px;	
			padding: 0px;
			cursor: pointer;
			vertical-align: middle;
		}
		
		.tweb_checkbox:disabled {
			cursor: not-allowed;
		}
		
		.tweb_checkbox:disabled+label {
			cursor: text;
		}	

		.tweb_checkbox+label {
			vertical-align: middle;		
			margin-left: 0px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;	
		}
		
	/*	Control TRADIO */

		.tweb_radio {
			cursor: pointer;
			vertical-align: middle;
			margin: 0px;	
		}

		.tweb_radio+label {
			vertical-align: middle;	
			margin-left: 5px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;		
			
		}

		.tweb_radio:disabled{
			cursor: not-allowed;	
		}
		
		.tweb_radio:disabled+label{
			cursor: text;
		}


		.tweb_radio:hover {
			/*  background-color: lightyellow;*/
			/*  border: 1px gray solid; */
			/*  cursor:pointer;**/
		}
		
	/*	TBTNBAR	*/
	
		.tweb_bar {
			position: absolute;
			border:1px solid gray;
			border-top:1px solid #eee;
			border-left:1px solid #eee;	
			background: #cfcfcf;			
			overflow: hidden;					
			box-sizing: border-box;
			padding: 5px;	
			padding-left: 10px;			
		}

		.tweb_bar_separator_init {
			margin-top: -5px;  /* El mismo valor en negativo del padding de tweb_bar */
		}

		.tweb_bar_separator {
			margin-top: -5px;  /* El mismo valor en negativo del padding de tweb_bar */
			float:left;
			margin-left: 4px;
			margin-right: 4px;			
		}			
		
		.tweb_btnbar {
			background-color: #E1E1E1; /*#E4EAF2;*/
			border: 1px outset white; 
			letter-spacing: 1px; 
			color: black; 
			cursor: pointer;					
			float: left;
			height: 100%;
			/*width: 70px;*/
			box-sizing: border-box;
			margin-right: 1px;
			font-family: Verdana, Arial, Helvetica, sans-serif !important;
			font-size: 10px !important;	
			overflow: hidden;
			padding: 0px;
		}
		
		.tweb_btnbar:disabled {
			color: #6e6e6e;
			background: #d1d1d1;
			cursor: not-allowed;
			box-shadow: none;
		}		
		
		.tweb_btnbar:hover:enabled  {  
			background-color: #075ac5; /*#3d3d80; #2d81b6;  */
			color: white; 
		}		
		
		.tweb_btnbar_right {
			float: right;
		}

		.tweb_btnbar img {
			width: 16px;
			height: 16px;
			margin-top: 3px;
			margin-left: 0px;
		}
		
		.tweb_btnbar p {
			margin: 0px;			
		}
		
		.tweb_btnbar:disabled img{
		
		/*	
			-webkit-filter: grayscale(100%) !important; /* Webkit Nightlies & Google Chrome Canary 
		//	-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari -->	NOTA: ERROR con menus en Chrome 
		//	-webkit-backface-visibility: hidden; /* Fix for transition flickering -->	NOTA: ERROR con menus en Chrome 
			
		/*  Esta nos sirve para el firefox 	
		//	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android 
		//	filter: gray; /* IE8-9 
		*/	

			cursor: text;	
		}		

	/*	ProgressBar */ 
	
		.tweb_progressbar {
			background: #ddd;		
		}
		
	/*	TGroup	*/
	
		.tweb_group fieldset {
			margin:0px;
			padding: 0px;
			padding-left: 5px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;			
		}

	/*	TLogo	*/

		.tweb_logo {
			position: absolute;
			margin-left: 0;
			margin-right: auto;
			padding: 0px;
			margin-top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;			
			overflow: hidden;			
		}
		
		.tweb_logo_image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50%;
		}		

		.tweb_logo_image img {
			width: 100%;
			height: 100%;
		}
	

	/*	TABS	*/
	
		.tweb_folder {		
			box-sizing: border-box;	
			padding: 0px ;	
		}
		
		.tweb_folder > ul {
			padding: 0px !important;
		}
		
		.tweb_tabs {		
			box-sizing: border-box;	
			padding: 0px !important;	
		}
		
		.ui-tabs-nav .ui-icon { 
			display: inline-block; 
			height: 14px;
			vertical-align: top;
		}		
		
	/*	TMSGBAR */
	
		.tweb_msgbar {
			position: absolute;
			bottom: 0;	
			height: 30px;
			width: 100%;
			background: #cfcfcf;
			border-top: 1px solid #eee;
			border-left: 1px solid #eee;
			overflow: hidden;
			box-shadow: 3px 3px 3px gray;					
		}
		
		.tweb_msgbar_item_msg {
			float: left;    
			margin: 4px;
			margin-left: 0px;
			height: 10px;				
		}
		
		.tweb_msgbar_item_msg p {
			margin-top: 2px;	
			padding-right: 5px;
			padding-left: 5px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;				
		}
		
		.tweb_msgbar_item {
			float: right;
			margin-top: 5px;
			margin-right: 5px;	
			width: 20px;
			height: 20px;
			border: 1px inset white; 				
		}
		
		.tweb_msgbar_item p {
		    float: left; 
			margin-top: 3px;	
			padding-right: 5px;
			padding-left: 5px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;				
		}

		.tweb_msgbar_item img {	
		    float: left; 
			margin-top: 2px;	
			margin-left: 2px;
			margin-right: 1px;
			width: 16px;
			height: 16px;					
		}
		
		.tweb_msgbar_item_time {
			float: right;
			margin-top: 5px;
			margin-right: 4px;
			border: 1px outset white;
			height: 20px;			
		}
		
		.tweb_msgbar_item_time p {		
			margin-top: 2px;	
			padding-right: 5px;
			padding-left: 5px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;					
		}
		
		.tweb_msgbar_item_signal {
			float: right;
			margin-top: 5px;
			margin-right: 5px;	
			width: 20px;
			height: 20px;
			border: 1px inset white; 		
		}
		
		.tweb_msgbar_item_signal img{
			margin-top: 2px;	
			margin-left: 2px;
			margin-right: 1px;
			width: 16px;
			height: 16px;		
		}
		
	/*	Control TACCORDION */

		.ui-icon.iconOpen {
			background:url('images/fld_open.png') no-repeat;
			background-size:16px;
			width:16px;
			height:16px;
			top:13px !important;
		}
		.ui-icon.iconClosed {
			background:url('images/fld_close.png') no-repeat;
			background-size:16px;
			width:16px;	
			height:16px;
			top:13px !important;
		}	
		
	/*	Control Autocomplete	*/
	
		.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}  
		
	/*	Box... */
		.tweb_box {	}
		
	/*	YouTube... */
		.tweb_youtube {	}		

	/*	Menus */
	
		.tweb_menu {
			height: 21px;
			/* border: 1px solid black;	*/
			background-color: #F2F2F2;
			border:1px solid gray;	
			border-top:1px solid #eee;
			border-left:1px solid #eee;		
			border-right: none;		
		}

		.tweb_menu ul{
			margin:0px;
			padding:0px;
			list-style-type:none;
			position:absolute;
			font-family: Verdana, Arial, Helvetica, sans-serif !important;
			font-size: 11px ;
			font-weight: bold ;	
		/*	z-index:99;	 */
		}

		.tweb_menu ul li{
			background: #F2F2F2;
			height:18px;
			line-height: 18px;
			display: inline-block;
			padding-left:5px;
			padding-right:5px;
			border: 1px transparent solid;
			cursor:pointer;
		/*	z-index:99;		*/
		}

		.tweb_menu ul li:hover{
			border:1px solid gray;	
		}	
		
	/*	Dialog */
	
		.ui-dialog-shadow { 
			box-shadow: 5px 5px 10px gray; 
			border-radius: 5px;
		}

		.ui-dialog-title {
			width: 93% !important;
		}

		.ui-dialog-titlebar {
			background-color: transparent; /*#4F4D98;*/  /*rgb(217, 83, 79);*/ 
			color: black;
			padding: 5px 5px !important;
			position: relative;
			border-radius: 5px 5px 0px 0px;
		}

		.ui-dialog-content > p {
			margin-top: 2px;
		}

		.msg_dlg_content{
			margin-top: 2px;
		}

		.ui-dialog-title .ui-icon {
			display: inline-block;
			vertical-align:middle !important;
			margin-right: 5px;
			vertical-align: text-bottom !important;
		}

		.ui-dialog-title .ui-img {
			margin-right: 5px;
			vertical-align: text-bottom !important;
		}

		.ui-dialog .ui-dialog-content {
			position: relative;
			border: 0;
			padding: 0;
			background: none;
			overflow: auto;
		}
		
	/*	Datepicker	*/
	
		.ui-datepicker{ z-index: 9999 !important;}
		
		
		
		.tweb_btn_dlg  {  
			background: #5870A8 !important; 
			border: 1px solid #1D3871 !important; 
			letter-spacing: 1px; 
			color: #fff !important; 
			font-family: Verdana, Arial, Helvetica, sans-serif !important;
			font-size: 12px !important; 
			font-weight: normal !important;
			-moz-box-shadow: 1px 1px 3px #1D3871;
			-webkit-box-shadow: 1px 1px 3px #1D3871;
			box-shadow: 1px 1px 3px #1D3871;
			border-radius: 4px !important; 		
		}  

		.tweb_btn_dlg:hover  {  
			background-color: #3b5998 !important;   
			color: yellow !important;  
		}		
		
	/*	Messages */
	
		._msg_error {
			padding:10px;
			font-weight: bold;
			line-height: 16px;		
		}
		
		._msg_info {
			padding:10px;
			line-height: 16px;		
		}

		._msg_loading {
			float: left;
			padding: 0px;
			margin: 0px;
		}

		._msg_loading  img {		
			float: left;
			margin-left:6px;
			margin-top: 6px
		}	

		._msg_loading p {
			float: left;
			padding-left: 10px;	
			padding-top: 14px;
			margin: 0px;
		}
		
		._msg_combo {
			width: 100% ; 
			height:30px ;
		/*	border: 1px solid; */
			padding: 5px;
			margin: 0px; 				
		}
		
	/*	Log  */
	
		#_log {		
			position: fixed;
			bottom:0;
			cursor:pointer;
			margin-left: 5px;
			margin-bottom: 5px;
			z-index: 9999;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
		}		
	
		span._log {
			background: #1d67ba;
			border-radius: 22px;
			-moz-border-radius: 22px;
			-webkit-border-radius: 22px;
			color: #ffffff;
			display: inline-block;
			line-height: 24px;
			padding: 10px;
		}
		
		/*
		._log_txt {
			font-size: 10px;
			line-height: 12px;			
		}
		*/

		/*------------------------------*/
		/*Dialogs Albeiro Valencia*/

	.ui-dialog-titlebar button {
		border-radius: 4px;
		background: #dbdbdc;
	}

	.ui-dialog-title button {
		width: 18px ;
		height: 18px ;
		margin-left: 1px !important;
		padding: 0px;
	}	

	.ui-dialog-titlebar-buttonpane button {
		width: 18px ;
		height: 18px ;
		margin-left: 1px !important;
		padding: 0px;
	}	

	.dialog-close {
	  /*position: absolute;
	  right: .3em;
	  top: 50%;
	  width: 20px;
	  margin: -10px 0 0 0;
	  padding: 1px;
	  height: 20px;*/
		width: auto;
		height: auto;
	}


		
		
		