.div-datatable {
  position: absolute;
}

.div-datatable > tbody th, .div-datatable > tbody td {
  padding: 8px 10px; /* e.g. change 8x to 4px here */
}

.btn-datatable {
  margin-bottom:5px;
  display: block; 
  text-align: right;
}  

.dt-right { 
  text-align: right; }

.dt-left { 
  text-align: left; 
}

.dt-center { 
  text-align: center; 
}

@media (max-width : 411px) {
  input.form-control.form-control-sm {
    width: 70% !important;
  }
}

@media (max-width: 640px) {
  .container-fluid {
    margin:0 auto;
    overflow-y:auto;
  }  
  .div-datatable {
    position: absolute;
    overflow-y:auto;
  }
}

.info {
  text-align: right;
  font-size: 17;
}

.btn-dtcustom {
  border-color: #0062cc;
}
  