/*
*   CSS para core.dashboard.php
*/

.header-say { 
   float : left;
}

.header-btn {
   float : right;
}    

@media (max-width : 480px) {
   .header-say { 
      margin-top: -7px;
   }
   .header-btn > .btn {
      line-height: 1.2;
      margin-top: -7px;
   }
}

@media (max-width: 640px) {
   .bstreeview {
      height: 250px !important;
   }
}
   