/*
*   CORE.LOGIN.CSS
*/

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 'Varela Round', sans-serif;*/
	background-color: transparent;
}

.close {
	display: none;
}

.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
  border: none;
  width: 350px;
	height: 380px;
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}

.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}

.modal-login .form-control:focus {
	border-color: #70c5c0;
}

.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}

.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	

.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 15px;
}

.modal-login .modal-footer a {
	color: #999;
}		

.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	z-index: 9;
	background: #60c7c1;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-login .avatar img {
	width: 100%;
}

.modal-login.modal-dialog {
  margin-top: 10%;
  width: 350px;
}

.modal-login .btn, .modal-login .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}

.modal-login .btn:hover, .modal-login .btn:focus {
	background: #45aba6 !important;
	outline: none;
}

.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

.modal-register {
	float: left;
	margin-left : 10px;
}

.modal-forgot {
	float: right;
	margin-right : 10px;
}

.field-icon {
	float: right;
	margin-right: 3px;
  margin-top: -28px;
  position: relative;
	z-index: 2;
	font-size: 16px;
}

/* nuevas opciones */
.company {
  background-color: #ecf0f1;
  text-align: center;
	width: 350px;
  max-width: 350px;
	margin-left: -20px;
  margin-top: 55px;
  border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.company-center {
	margin-top: 5px;
	margin-bottom: 5px;
}

.company-link {
   color: #339690;
	cursor: pointer;
}

@media (max-width : 640px) {

	.modal-login.modal-dialog {
		margin: 15% !important;
	}
	
	.modal-login .modal-content {
		left: -6px !important;
		width: 312px !important;	
	}	

	.company {
		left: -6px !important;
		width: 312px !important;	
	}

}


