.modal {
  text-align: center;
}

@media (min-width: 768px) { 

  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  left: -8px;
  width: 100%;
}

.item-modal {
  display : flex;
}

.left {
  width: 100%;
  max-width: 180px;
  padding-left: 10px;
  display: inline-block;
}

.rigth {
  float : right;
  width: 100%;
}

.mobil-input {
  width: 93.5%;
}

.left-col3 {
  float: left;
  width: 100%;
  max-width: 180px;
  padding-left: 10px;
}

input:invalid {
  border: 2px dashed red;
  border-radius: 5px;
}

input:invalid:required {
  /*background-image: linear-gradient(to right, pink, lightgreen);*/
  border: 2px dashed red;
  border-radius: 5px;
}

input:valid {
  border: 2px solid #8a8383;
  border-radius: 5px;
} 

input:focus {
  background-color: rgb(170, 240, 240) !important;
  box-shadow: 0 1px 1px rgba(213, 91, 91, 0.08) inset, 0 0 8px rgba(135, 140, 140, 0.6) !important;
  border-color: #8a8383 !important;
}

@media (max-width : 640px) {

  .item-modal {
    display: block !important;
  }

  .left {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  .left label {
    text-align: left !important;
    padding: 0 !important;
  }

  .rigth {
    width: 100% !important;
    max-width: 100% !important;
    padding-top: 0.5px;
  }

  .fixed-table-container {
    width: auto !important;
  }  

  .modal-checkbox {
    position: relative;
    top: -2px;
    left: 20px;
    margin-bottom: 10px;
  }

  .item-modal img {
    display: block;
    padding: 20px;
    text-align: center;
  }

  .mobil-input {
    width: 86.5% !important;
  }
  
}

a:hover {
  cursor:pointer;
}

.close i:hover {
  color: red;
}

.modal-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 9px;
}  

.fixed-table-container {
  padding-bottom: 0px;
  width: 760px;
} 

.modal-checkbox {
  position: relative;
  top: 3px;
}

.btn-input {
  background-color: #0069d9;
  border-color: #0062cc;
  padding: 4px 8px 4px 4px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.btn-input:hover {
  background-color: #045cb9;
  border-color: #0457af;
}

.select-modal {
  width:100%;
  margin-left:0px;
  height:30px !important;
  font-size:15;
  padding:2px;
  font-weight:bold;
}

.btn-select {
  height: 28px !important;
  background-color: #0069d9;
  border-color: #0062cc;
  padding: 7px 8px 7px 7px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.filter-option {
  color: blue;
  font-weight: bold;
}
