/*
*   CSS core.navbar.css
*/

#navbar-btn {
  text-align: left;
}  

.navbar-label {
  margin: auto;
  background-color:transparent;
}

.navbar-icon {
  margin: auto;
  background-color:transparent;
}

 
