/*
*   TVALWEB Version 1.0
*   AUTOR : ALBEIRO VALENCIA
*   FECHA : 30/09/2021
*/

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: rgba(62, 242, 235, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(62, 242, 235, 0.6);
    outline: 0 none;
}

.btn-spinner {
  width: 60px;
}

.minus-spinner {
  float:left;
  margin-right: 8px;
}

.plus-spinner {
  float:left;
  margin-left: 8px;
}

.div-input-spinner {
  float: left;
  margin: auto;
}    

.input-spinner {
  height: 28px;
  width: 150px;
  text-align:right;
  padding:6px;
}

@media (max-width : 640px) {

  .btn-spinner {
    width: 40px;
    display: block;
  }

}