/*
 *contextMenu.js v 1.4.0
 *Author: Sudhanshu Yadav
 *s-yadav.github.com
 *Copyright (c) 2013 Sudhanshu Yadav.
 *Dual licensed under the MIT and GPL licenses
 */
/*Context menu css */
.iw-contextMenu {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #E6E6E6;
  display: none;
  z-index: 1000;
}
.iw-cm-menu {
  background: #F4F4F4;
  color: #333;
  
	margin:2px;
	padding:0px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px ;
	font-weight: bold ;	

 
}
.iw-cm-menu li {
  list-style: none;
  padding: 3px;
  padding-left: 30px;
  padding-right: 20px;
  border-bottom: 1px solid #CCC;
  cursor: pointer;
  position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px ;
	font-weight: bold ;		
  /*height: 18px;*/
  height: auto;
	line-height: 18px;
}
.iw-mOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #FFF;
  opacity: .5;
}
.iw-contextMenu li.iw-mDisable {
  opacity: .3;
}
.iw-mSelected {
  background-color: #C0D4E9;
  color: black;
}
.iw-cm-arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333333;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -4px;
}
.iw-mSelected > .iw-cm-arrow-right {
  border-left: 5px solid #FFF;
}
.iw-mIcon {
  width: 16px;
  height: 16px;
  left: 3px;
  top: 4px;
  position: absolute;
}
/*context menu css end */