body {
  height: 100%;
  width: 100%;
  overflow: visible;
  outline: none;
  background-color: rgba(64, 64, 64, 1);
  background : url('./images/texture.png');
}

.canvasWrapper {
  padding: 10px;
  margin-left: 5%;
  width: 90%;
  overflow: scroll;
}

#outerContainer {
  width: 100%;
  height: auto;
}

#toolbarViewer {
  display: flex;
  text-align: center;
  width: 100%;
  height: 45px;
  align-items: center;
  background-color: rgb(22 22 23 / 25%);
  padding: 0.9em;
}

#toolbarViewerLeft {
  float: left;
  width: 30%;
  height: auto;
}

#toolbarViewerMiddle {
  float: left;
  width: 40%;
  margin-left: 20%;
  height: auto;
}

#idmidle {
  position: relative;
  width: 40%;
  margin-left: -50%;
}

#toolbarViewerRight {
  float: right;
  width: 30%;
  height: auto;
}

.toolbarButton {
  float: left;
  width: 40px;
  height: 40px;
  margin: 2.0;
  border-color: #ebddddd1;
  border-radius: 4px;
}

.toolbarButton:hover, 
.toolbarButton:focus {
  background-color: rgb(150, 196, 196);
  cursor: pointer;
}  

@media (max-width : 440px) {
  #toolbarViewer {
    height: 65px;
  }
  .toolbarButton {
    width: 28px !important;
    height: 28px !important;
  } 
  #toolbarViewerLeft {
    margin-left: -10px;
    width: 25% !important;
  }  
  #toolbarViewerMiddle {
    margin-left: 5px;
    width: 55%;
  }
  #toolbarViewerRight {
    width: 25% !important;
    left: 10px;
    position: relative;
  }  
  #idmidle {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-left: 25%;
  }
  .pageUp,
  .pageDown,
  .zoomOut,
  .zoomIn,
  .print,
  .download {
    background-size: 20px !important;
  }
  #idpage {
    width: 100% !important;
    font-size: 14px;
  }
}

.pageUp {
  background: url('./images/toolbarButton-pageUp@2x.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.pageDown {
  background: url('./images/toolbarButton-pageDown@2x.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.zoomOut{
  background: url('./images/toolbarButton-zoomMin@2x.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.zoomIn{
  background: url('./images/toolbarButton-zoomPlus@2x.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.page {
  float: left;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  width: 50%;
  height: 32px;
}

.print {
  background: url('./images/toolbarButton-print@2x.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.download {
  background: url('./images/toolbarButton-download@2x.png');
  background-repeat: no-repeat;
  background-position: center center;
}
